<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href= " " %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer></footer>
</body>
</html>
